
<div><h1>My Trips</h1></div>
    <div class="ui cards">
  <% @trips.each do |trip| %>
      <div class="card">
      <div class="content">
        <div class="header">
          <h1>
            <%= link_to trip.name , trip_path(trip), class: "text-light"%>
          </h1>
        </div>
        </div>
        <div class="extra content">
      <div class="ui two buttons">
          <%= link_to edit_trip_path(trip) do %>
            <div class="ui basic green button">Edit</div>
          <% end %>
          <%= link_to trip_path(trip), method: :delete do %>
            <div class="ui basic red button">Delete</div>
          <% end %>
      </div>
    </div>
    </div>
  <% end %>
  <div class="ui card">
    <div class="content">
      <div class="header">
        <%= link_to "New Trip", new_trip_path %>
        </div>
      </div>
        
  </div>
